/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #202020;
  color: #ffffff;
  font-size: 2vw;
  line-height: 1.4;
}

/* Paragraph Styles */
p {
  font-size: 1.3vw;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.5em;
}

/* Heading Styles */
.h2 {
  font-size: 2vw;
  color: #ffffff;
}
h3 {
  font-size: 2.2vw;
  font-weight: 400;
  color: #ffffff;
}
h3 {
  font-size: 2vw;
  font-weight: 400;
  color: #ffffff;
}

/* Button Styles */
.btn {
  padding: 0.8vw 2vw;
  background-color: #ffffff;
  color: #202020;
  border: none;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
  background-color: #f33920;
  color: #ffffff;
}

/* Area Container */
.area {
  width: 100%;
  height: auto;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  /* background-color: #eeeded; */
}

/* Logo Styles */
.logo {
  width: 20%;
  padding-right: 5vw;
  padding-top: 1vw;
}
.logo a {
  /* Add styles if needed */
}
.logo a img {
  width: 25%;
  height: auto;
}

/* Menu Styles */
.menu {
  width: 70%;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
}
.menu ul li {
  display: inline-block;
  font-size: 1.5vw;
}
.menu ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5vw 1vw;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.5vw;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.menu ul li a:hover {
  color: #ffffff;
  background-color: #f33920;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Banner Styles */
.banner img {
  width: 100%;
  height: auto;
}

/* Services Section */
.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vw;
  /* background-color: #282828; */
  gap: 2vw;
}

/* Single Service Card */
.single-services {
  width: 30%;
  background-color: #383838;
  padding: 2vw;
  border-radius: 1vw;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1.3vw;
}
.single-services img {
  width: 100%;
  height: 11vw;
  border-radius: 0.5vw;
  object-fit: cover;
}

/* Service Cards Container */
.service {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  align-content: center;
  justify-content: center;
}

/* Service Button */
.single-services .btn {
  width: 100%;
  padding: 0.5vw;
  background-color: #ffffff;
  color: #202020;
  border: none;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.single-services .btn:hover {
  background-color: #f33920;
  color: #ffffff;
}

/* About Section */
.about {
  display: flex;
  align-content: center;
  /* justify-content: center; */
  flex-direction: row;
  padding: 2vw;
  gap: 2vw;
  align-items: flex-start;
}
.about-left {
  width: 70%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.about-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 2vw;
  background-color: #383838;
  border-radius: 1vw;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* About Right List */
.about-right ul {
  /* list-style: url("../img/right-arrow.png"); */
  list-style: square;
  padding-left: 1.5vw;
}
.about-right ul li {
  margin-bottom: 1vw;
  font-size: 1.5vw;
  color: #ffffff;
}
.about-right ul li a {
  text-decoration: none;
  color: #ffffff;
}
.about-right ul li:hover {
  color: #f33920;
}
.about-right ul li a:hover {
  color: #f33920;
  /* text-decoration: underline; */
}

/* Footer Styles */
.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  padding: 1vw 4vw;
  color: #ffffff;
  text-align: center;
}
.footer p {
  font-size: 1vw;
}
.footer-social a {
  font-size: 1vw;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.footer-social a:hover {
  color: #f33920;
}

/* About Page Styles */
.page-banner {
  width: 100%;
  height: 28vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.page-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.363);
}
.page-banner h2 {
  font-size: 3vw;
  color: #ffffff;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(160, 68, 25, 0.5);
}

/* Services Page Styles */
.service-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  gap: 1.5vw;
  justify-content: center;
}
.single-services-page {
  width: 20%;
  gap: 1vw;
  padding: 1.3vw;
}
.single-services-page img {
  width: 100%;
  height: 8vw;
}
.single-services-page h3 {
  font-size: 1.8vw;
  line-height: 1.1em;
}
.single-services-page p {
  font-size: 1vw;
  line-height: 1.5em;
}
.single-services-page .btn {
  font-size: 1vw;
}

/* Gallery Page Styles */
.gallerys {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  gap: 1.5vw;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.single-gallery {
  width: 25%;
}
.single-gallery iframe {
  width: 100%;
  height: 15vw;
  border-radius: 0.5vw;
  object-fit: cover;
}

/* Contact Section Styles */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vw;
}
.contact-left {
  width: 60%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.contact-right {
  width: 30%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

/* Map Styles */
.map {
  width: 100%;
  height: 20vw;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Contact Form Styles */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.contact input[type="text"] {
  width: 100%;
  padding: 1vw;
  border: 1px solid #ffffff;
  border-radius: 0.5vw;
}
.contact input[type="email"] {
  width: 100%;
  padding: 1vw;
  border: 1px solid #ffffff;
  border-radius: 0.5vw;
}
.contact textarea {
  width: 100%;
  height: 10vw;
  padding: 1vw;
  border: 1px solid #ffffff;
  border-radius: 0.5vw;
}
.contact button {
  width: 100%;
}
.contact label {
  font-size: 5vw;
  color: #ffffff;
  margin-bottom: 0.5vw;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  font-size: 1vw;
  background-color: #ffffff;
}
/* 
.contact input[type="submit"] {
  background-color: #f33920;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
*/

/* Contact Right List Styles */
.contact-right ul {
  list-style: none;
}
.contact-right ul {
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.contact-right ul span {
  font-weight: bold;
}
.contact-right ul a {
  color: #ffffff;
  text-decoration: none;
}
.contact-right ul a:hover {
  color: #f33920;
}
.contact-right img {
  max-width: 100%;
  height: 20vw;
  border-radius: 0.5vw;
  object-fit: cover;
  object-position: right;
}
